#tab{
  background-color: white;
}

.center {
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
}

.section-title{
  font-size: 26px;
  color: white;
  background-color: #034953;
  text-decoration: none;
  align-items: center;
  padding: 20px 0;
  border-radius: 7px;
}

.full-width {
  width: 100%;
}

.center-button {
  text-align: center;
}

.mat-form-field mat-label{
  color: black;
}

button {
  background-color: #034953;
  color: white;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #034953 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}
