.section-title{
  font-size: 26px;
  color: white;
  background-color: #034953;
  text-decoration: none;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  border-radius: 7px;
}

.submitButton {
  margin-top: 10px;
  background-color: #034953 !important;
  color: white !important;
}
