<app-navbar></app-navbar>
<div class="center">
  <div class="row align-items-center h-100">
    <div style="width: 70%; margin: 0 auto">
      <div id="tab" class="card justify-content-center">
        <div class="card-body">
          <h1 class="section-title" style="font-size: 26px">{{job?.title}}</h1>
          <div class="info-section" style="display: flex;justify-content: space-between; max-height: 400px">
            <div class="container" style="float: left; width: 50%;">
              <img [src]="jobImage" alt="company-logo">
            </div>
            <div style="float: right; width: 50%; margin: auto; text-align: center">
              <div class="separator"></div>
              <h3 style="margin: 15px 0"> Offered By: {{job?.companyName}} </h3>
              <div class="separator"></div>
              <h3 style="margin: 15px 0"> Location: {{job?.location}} </h3>
              <div class="separator"></div>
              <div *ngIf="job?.salary !== null; then showSalary"></div>
              <ng-template #showSalary>
              <h3 style="margin: 15px 0">Salary: {{job?.salary}} {{job?.salaryCurrency}} ({{job?.salaryType}})</h3>
              <div class="separator"></div>
              </ng-template>
              <div *ngIf="userRole === 'EMPLOYEE'">
                <button class="applyButton" mat-raised-button (click)="applyToJob(job?.id)">Apply now</button>
                <div class="separator"></div>
              </div>
            </div>
          </div>
          <div class="footer" style="margin: 15px 0; background-color: #f7f7f7">
            <h3 style="padding: 5px 0; ">Added on: {{job?.createdAt}}</h3>
          </div>
          <div style="margin: 0 auto; text-align: center; width: 100%; display: flex; justify-content: center">
            <h3 class="section-title" [style.background]="flag? '#034953': '#a3acad'"
                style="width: 50%; cursor: pointer; border-radius: 6px 0 0 6px; font-size: 20px"
                (click)="switchBetweenDescriptionReviews('description')"> Description </h3>
            <h3 class="section-title" [style.background]="!flag? '#034953': '#a3acad'"
                style="width: 50%; cursor: pointer; border-radius: 0 6px 6px 0; font-size: 20px"
                (click)="switchBetweenDescriptionReviews('reviews')">Forum</h3>
          </div>
          <div *ngIf="flag" class="description" [innerHTML]="job?.description">
          </div>
          <div *ngIf="!flag" class="forum">
            <button class="applyButton" mat-raised-button (click)="addComment(job?.id)">Add a comment</button>
            <div *ngIf="nr_comments !== 0; then showComments else showNoCommentsMessage"></div>
            <ng-template #showComments>
            <div *ngFor="let comment of jobComments" class="footer" style="margin: 15px 0; background-color: #f7f7f7">
              <h3 style="display: inline">{{comment?.author}}</h3>
              <p style="display: inline"><span style="color: #919191">- {{comment?.createdAt}} -</span></p>
              <p style="padding: 10px 30px">
                <i>
                  "{{comment?.content}}"
                </i>
              </p>
            </div>
            </ng-template>
          </div>
          <ng-template #showNoCommentsMessage>
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading" style="margin: 15px auto">NO COMMENTS ADDED</h4>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
