#tab{
  background-color: white;
}

.center {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
}

.section-title{
  color: white;
  background-color: #034953;
  text-decoration: none;
  align-items: center;
  padding: 15px 0;
}

.full-width {
  width: 100%;
}

.separator{
  height: 1px;
  background-color: #ededed;
  width: 90%;
  margin: 0 auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.applyButton {
  background-color: #034953 !important;
  margin: 15px 0;
  color: white !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}

.container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  width: 45%;
  color: white;
  margin: 0 3px;
}

.description, .forum {
  text-align: left !important;
  margin-left: 10px;
}

.confirm-comment {
  background-color: #034953 !important;
}

.alert-info{
  background-color: #fcfcfc !important;
  color: #919191 !important;
  border: none !important;
}


