#tab{
  background-color: white;
}

.center {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
}

.section-title{
  font-size: 26px;
  color: white;
  background-color: #034953;
  text-decoration: none;
  align-items: center;
  padding: 20px 0;
  border-radius: 7px;
}

.full-width {
  width: 100%;
}

.center-button {
  text-align: center;
}

.mat-form-field mat-label{
  color: black;
}


button {
  background-color: #034953 !important;
  color: white !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #034953 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

input#file-input {
  display: none;
}

label {
  background-color: #fcfcfc;
  font-size: 14px;
  color: black;
  padding: 15px 10px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
}

label:hover {
  cursor: pointer;
  background-color: #fafafa;
}
