<app-navbar></app-navbar>
<div class="title-section">
  <h1>Jobs You Added</h1>
  <div *ngIf="nr_jobs === 1; then singleJob else multipleJobs"></div>
  <ng-template #singleJob><p>showing {{nr_jobs}} result</p></ng-template>
  <ng-template #multipleJobs><p>showing {{nr_jobs}} results</p></ng-template>
</div>
<div class="jobs-container">
  <button type="button" class="btn btn-dark" (click)="goToAddJob()">
    New
    <mat-icon style="vertical-align: bottom !important;">add</mat-icon>
  </button>
  <button type="button" class="btn btn-dark" style="float: right;" (click)="downloadJobsCsv()">
    Export
    <mat-icon style="vertical-align: bottom !important;">arrow_downward</mat-icon>
  </button>
  <div class="job-row" style="color: white !important; background-color: #034953">
    <div style="width: 70%;">
      <h3>Title</h3>
      <h3>Offered By</h3>
      <h3>Added On</h3>
    </div>
    <div style="width: 30%;">
      <h3>Actions</h3>
    </div>
  </div>
  <div *ngIf="nr_jobs !== 0; then showJobs else showNoJobsMessage"></div>
  <ng-template #showJobs>
    <div *ngFor="let job of jobs" class="job-row">
      <div style="width: 70%;">
        <h3><u><a (click)="goToJobPage(job.id)">{{job?.title}}</a></u></h3>
        <h3>{{job?.companyName}}</h3>
        <h3>{{job?.createdAt}}</h3>
      </div>
      <div style="width: 30%;">
        <button type="button" class="btn btn-secondary" (click)="openJobDetailsModal(job.id)"> Details <mat-icon style="vertical-align: bottom !important;">visibility</mat-icon> </button>
        <button type="button" class="btn btn-primary" (click)="goToEditJob(job.id)"> Edit <mat-icon style="vertical-align: bottom !important;">edit</mat-icon> </button>
        <button type="button" class="btn btn-danger" (click)="openDeleteConfirmationDialog(job.id, job.title)">
          Delete
          <mat-icon style="vertical-align: bottom !important;">delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #showNoJobsMessage>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading" style="margin: 15px auto">NO JOBS FOUND!</h4>
    </div>
  </ng-template>
</div>
