<app-navbar></app-navbar>
<div class="title-section">
  <h1>Jobs in {{categoryName}}</h1>
  <div *ngIf="nr_jobs === 1; then singleJob else multipleJobs"></div>
  <ng-template #singleJob><p>showing {{nr_jobs}} result</p></ng-template>
  <ng-template #multipleJobs><p>showing {{nr_jobs}} results</p></ng-template>
</div>
<div class="jobs-container">
<div *ngIf="nr_jobs !== 0; then showJobs else showNoJobsMessage"></div>
<ng-template #showJobs>
    <div *ngFor="let job of jobs" style="display: inline-block">
          <div style="width: 21rem;">
            <div class="card text-center" style="margin: 40px">
            <div class="card text-center">
            <div class="card-header" style="background-color: #034953; color: white">
              <h1 class="job-title">{{job?.title}}</h1>
            </div>
            <div class="card-body">
              <h3 style="margin-bottom: 20px"> Offered by: {{job?.companyName}} </h3>
              <div class="separator"></div>
              <h4 style="margin: 20px 0"> Location: {{job?.location}} </h4>
              <div class="separator"></div>
              <button mat-raised-button color="primary" style="background-color: #034953; margin-top: 20px"
              (click)="goToJobDetailsPage(job.id)">Details</button>
            </div>
            <div class="card-footer text-muted">
              <div *ngIf="getNumberDaysAgo(job.createdAt) === 0; then showToday else showDaysAgo"></div>
              <ng-template #showToday>
                today
              </ng-template>
              <ng-template #showDaysAgo>
                <div *ngIf="getNumberDaysAgo(job.createdAt) === 1; then showOneDayAgo else showNrDaysAgo"></div>
                <ng-template #showOneDayAgo>
                  {{getNumberDaysAgo(job.createdAt)}} day ago
                </ng-template>
                <ng-template #showNrDaysAgo>
                  {{getNumberDaysAgo(job.createdAt)}} days ago
                </ng-template>
              </ng-template>
            </div>
          </div>
      </div>
      </div>
    </div>
</ng-template>
<ng-template #showNoJobsMessage>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading" style="margin: 15px auto; text-align: center">NO JOBS FOUND!</h4>
  </div>
</ng-template>
</div>
