<app-navbar></app-navbar>
<div class="banner-image">
    <img [src]="bannerImage" alt="banner">
</div>
<h1>Choose a category</h1>
<div class="categories-container">
    <div *ngFor="let category of categories" style="display: inline-block;">
        <div class="col-sm">
            <a role="button" class="btn btn-outline-dark btn-lg btn-block text-center" (click)="goToJobsPage(category?.id)">
                <span><i class="fa fa-users"></i></span>
                <br> {{category?.name}}
            </a>
        </div>
    </div>
</div>

